<!DOCTYPE html>
<html>

<%- include('../templates/head', {datahead: {titulo: 'Lista de Precios' , css: '/css/Price/table.css' }}) %>

    <body>
        <div class="table"> 
            <div class="container-btns">
                <button class='btn'><a href="/api/menu/prices/search"> <h4>Volver</h4></a></button>
                <button class='btn'><a href="/api/menu/prices/search"><h4>Modificación Masiva</h4></a></button>
            </div>           
            <div class="container-table">                            
                <table id='myTable'>
                    <thead>
                        <tr>
                            <th>PLU</th><th>NOMBRE</th><th>PRECIO</th>                                                                                           
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% data.priceList.map((e)=>{ %>
                                <tr>
                                    <form method="POST" action="/api/menu/prices/tableChanged">
                                        <td><input class="inputDisable" type="text" name="id" value="<%= e.id %>" readonly></td>
                                        <td><input class="inputDisable" type="text" name="name" value="<%= e.name %>" readonly></td>
                                        <td style="display: none"><input class="inputDisable" type="text" name="listprice" value="<%= e.listprice %>" readonly></td>
                                        <td><input class="inputPrice" type="number" name="newPrice" value="<%= e.price %>" onclick="this.value=''" onchange="this.form.submit()"/></td> 
                                    </form>                                
                                </tr>
                            <% }); %>
                        <% } else { %>
                                <tr>
                                    <th colspan="3">No_hay_registros</th>                                            
                                </tr>
                        <% } %>
                    </tbody>
                </table>                                                    
            </div>
            <form class="form-pagination" action="/api/menu/prices/tableChanged" method="post">
                <div class="page-controll">
                    <h4>Mostrando página&nbsp</h4>
                    <input type="number" id="inputPage" placeholder="<%=1%>">
                    <h4> de <%=15%></h4>
                </div>
                <div class="page-controll">
                    <input class="btn-pagination" type="button" id="first" onclick="setPage('first')" value="<%=__('| <')%>" >
                    <input class="btn-pagination" type="button" id="previous" onclick="setPage('previous')" value="<%=__('<<')%>" >
                    <input class="btn-pagination" type="button" id="next" onclick="setPage('next')" value="<%=__('>>')%>" >
                    <input class="btn-pagination" type="button" id="last" onclick="setPage('last')" value="<%=__('> |')%>" >
                </div>
                <div class="page-controll">
                    <h4><%=500%> a <%=600%> registros de <%=2000%></h4>
                </div>
            </form>
        </div>
        
        <script>
            function setPage(option) {
                console.log('Opcion: '+option);
            }
        </script>        
    </body>

</html>