<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Form Gral PLU' , css: '/css/ABM/PLUs/plu_form_princ.css' }}) %>

    <body  onload="setMargin()">
        <div class="principal">
            <div class="container-btns">
                <button id="DATOS" onclick="viewForm(this.id)">DATOS</button>
                <button id="PRECIOS" onclick="viewForm(this.id)">PRECIOS</button>
                <button id="AVANZADO" onclick="viewForm(this.id)">AVANZADO</button>
                <button id="CODIGO" onclick="viewForm(this.id)">CÓD. BARRAS</button>
                <button id="FECHAS" onclick="viewForm(this.id)">FECHAS</button>
                <button id="AUDIT" onclick="viewForm(this.id)">AUDITORÍA</button>
                <button>GUARDAR</button>
            </div>
            <div id="grand-container" class='grand-container'>
                <form id="formGral" class="formGral">
                    <div id="container-DATOS" class='container-data'>
                        <h3 style="color: white">Datos</h3>
                        <div class="form-part">
                            <div class="entries" id="divicon">
                                <a href="/api/menu/abm/plu/formEditGral/productImages">
                                    <% if(data.binarydata != '' && data.binarydata != null && data.binarydata != undefined){ %>
                                        <img src="data:image/jpg;base64,<%=data.binarydata%>" title="Editar">
                                    <% } else { %>
                                        Agregar Icono
                                    <% } %>    
                                </a>
                                <br> 
                            </div>
                            <div class="entries" id="divPLU">
                                <label for='PLU'>PLU</label>
                                <input type="number" id='PLU' name='PLU' class='' value='<%=data.id%>' onclick="" disabled/>
                                <br>
                            </div>
                            <div class="entries" id="diverp">                                
                                <label for='erp'>Código ERP</label>
                                <input type="text" id='erp' name='erp' class='' value='<%=data.erp%>' onclick=""/>
                                <br>
                            </div>
                            <div class="entries" id="divactivo">                                
                                <label for='activo'>Activo(select)</label>
                                <select  id='activo' name='activo' >
                                    <option class='optionUser' id="opcY" value="Y">SI</option>                                                                
                                    <option class='optionUser' id="opcN" value="N">NO</option>
                                </select>
                                <br>
                            </div>
                            <div class="entries" id="divnombre">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='<%=data.name%>' onclick=""/>
                                <br>
                            </div>
                            <div class="entries" id="divdescrip">                                
                                <label for='descrip'>Descripción</label>
                                <input type="text" id='descrip' name='descrip' class='' value='<%=data.descript%>' onclick=""/>
                                <br>
                            </div>
                            <div class="entries" id="divtipo">                                
                                <label for='tipo'>Modo venta(select)</label>
                                <select  id='tipo' name='tipo' >
                                    <option class='optionUser' id="pesable" value="0">PESABLE</option>                                                                
                                    <option class='optionUser' id="unitario" value="1">UNITARIO</option>
                                    <option class='optionUser' id="congelado" value="2">CONGELADO</option>
                                    <option class='optionUser' id="escurrido" value="3">ESCURRIDO</option>
                                </select>
                                <br>
                            </div>
                            <div class="entries" id="divdepto">                                
                                <label for='depto'>Departemento(select)</label>
                                <select  id='depto' name='depto'>
                                    <% data.arrdepto.map(e => { %>
                                        <option class='optionUser' id="d<%= e.depto_id %>" value="<%= e.depto_id %>"><%= e.depto_name %></option>
                                    <% }) %>
                                </select>
                                <br>
                            </div>
                            <div class="entries" id="divgrupo">                                
                                <label for='grupo'>Grupo(select)</label>
                                <select  id='grupo' name='grupo'>
                                    <% data.arrgroup.map(e => { %>
                                        <option class='optionUser' id="g<%= e.group_id %>" value="<%= e.group_id %>"><%= e.group_name %></option>
                                    <% }) %>
                                </select>
                                <br>
                            </div>
                            <div class="entries" id="divpubli">                                
                                <label for='publi'>Publicidad</label>
                                <select  id='publicidad' name='publicidad'>
                                    <option class='optionUser' ></option>
                                    <% data.arrpubli.map(e => { %>
                                        <option class='optionUser' id="<%= e.publi_id %>" value="<%= e.publi_id %>"><%= e.publi_name %></option>
                                    <% }) %>
                                </select>
                                <br>
                            </div>
                            <div class="entries" id="diviva">                                
                                <label for='iva'>IVA</label>
                                <select  id='iva' name='iva'>
                                    <% data.arriva.map(e => { %>
                                        <option class='optionUser' id="<%= e.iva_id %>" value="<%= e.iva_id %>"><%= e.iva_name %></option>
                                    <% }) %>
                                </select>
                                <br>
                            </div>
                            <div class="entries" id="divlote">
                                <label for='lote'>Lote</label>
                                <input type="text" id='lote' name='lote' class='' value='<%=data.lote%>' onclick=""/>
                                <br>
                            </div>
                            <div class="entries" id="divtara">
                                <label for='tara'>Tara</label>
                                <input type="number" id='tara' name='tara' class='' value='<%=data.tara%>' onclick=""/>
                                <br>                                
                            </div>
                            <div class="entries" id="divperTare">                                
                                <label for='perTare'>Porcentaje de agua</label>
                                <input type="number" id='perTare' name='perTare' class='' value='<%=data.waterperc%>' onclick=""/>
                                <br>                            
                            </div>
                        </div>
                    </div>
                    <div id="container-PRECIOS" class='container-data'>                        
                        <div class="form-part">
                            <h3 style="color: white">Listas de Precios</h3>
                            <div class="frame">                                
                                <iframe src="/api/menu/abm/plu/formEditGral/showTablePricelist"></iframe>
                            </div>
                            <h3 style="color: white">Descuentos</h3>
                            <div class="frame">                                
                                <iframe src="/api/menu/abm/plu/formEditGral/showTableDiscount"></iframe>
                            </div>
                        </div>
                    </div>
                    <div id="container-AVANZADO" class='container-data'>
                        <h3 style="color: white">Avanzado</h3>
                        <div class="form-part">
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div id="container-CODBARRAS" class='container-data'>
                        <h3 style="color: white">Cód. Barras</h3>
                        <div class="form-part">
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div id="container-FECHAS" class='container-data'>
                        <h3 style="color: white">Fechas</h3>
                        <div class="form-part">
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div id="container-AUDITORIA" class='container-data'>
                        <h3 style="color: white">Auditoria</h3>
                        <div class="form-part">
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                            <div class="entries">                                
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' class='' value='' onclick=""/>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>     
            <a id="a-volver" class='container-btn-return' href="/api/menu/abm/plu">
                <button id="btn-volver" class='btn-return' title="Volver" onclick="deleteStorage()"></button>
            </a>            
        </div>
        <script>
            //console.log('Data: '+ '<%#- JSON.stringify(data) %>');
            localStorage.setItem('dataPLU',  '<%- JSON.stringify(data) %>');
            
            // ############################ bloque navegación pestañas #######################################
            function setMargin(){
                document.getElementById('formGral').style.marginLeft = localStorage.getItem("margin");
                //console.log('Margin: '+document.getElementById('formGral').style.marginLeft);
            }
            
            function viewForm(id){
                switch (id) {
                    case 'DATOS':
                        //console.log(id);
                        localStorage.setItem("margin", "0vw");
                        document.getElementById('formGral').style.marginLeft = '0vw';
                        break
                    case 'PRECIOS':
                        //console.log(id);
                        localStorage.setItem("margin", "-80vw");
                        document.getElementById('formGral').style.marginLeft = '-80vw';
                        break
                    case 'AVANZADO':
                        //console.log(id);
                        localStorage.setItem("margin", "-160vw");
                        document.getElementById('formGral').style.marginLeft = '-160vw';
                        break
                    case 'CODIGO':
                        //console.log(id);
                        localStorage.setItem("margin", "-240vw");
                        document.getElementById('formGral').style.marginLeft = '-240vw';
                        break
                    case 'FECHAS':
                        //console.log(id);
                        localStorage.setItem("margin", "-320vw");
                        document.getElementById('formGral').style.marginLeft = '-320vw';
                        break
                    case 'AUDIT':
                        //console.log(id);
                        localStorage.setItem("margin", "-400vw");
                        document.getElementById('formGral').style.marginLeft = '-400vw';
                        break                     
                }               
            }
            // ############################ FÍN bloque navegación pestañas #############################

            // ################################# onLoad campos ##########################################

            let isactive = <%-JSON.stringify(data.isactive)%>;
            //console.log('isactive: '+isactive);
            if (isactive == 'Y'){
                document.getElementById('opcY').setAttribute('selected', '');
            } else {
                document.getElementById('opcN').setAttribute('selected', '');
            }

            let tipo = <%-JSON.stringify(data.type)%>;
            switch (tipo){
                case 0: 
                    document.getElementById('pesable').setAttribute('selected', '');
                    break;                
                case 1: 
                    document.getElementById('unitario').setAttribute('selected', '');
                    break;                
                case 2: 
                    document.getElementById('congelado').setAttribute('selected', '');
                    break;                
                case 3: 
                    document.getElementById('escurrido').setAttribute('selected', '');
                    break;                
            }

            if ('<%-data.depto.id%>' != '' && '<%-data.depto.id%>' != null && '<%-data.depto.id%>' != undefined){ // ##### Depto #####
                //console.log('Depto: '+<%#-data.depto.id%>);
                document.getElementById('d<%-data.depto.id%>').setAttribute('selected', '');
            } else { // Esto es para cuando sea un plu nuevo.
                document.getElementById('d0').setAttribute('selected', '');
            }

            if ('<%-data.group.id%>' != '' && '<%-data.group.id%>' != null && '<%-data.group.id%>' != undefined){ // ##### Group #####
                document.getElementById('g<%-data.group.id%>').setAttribute('selected', '');
            } else { // Esto es para cuando sea un plu nuevo.
                document.getElementById('g0').setAttribute('selected', '');
            }

            if ('<%-data.publi.id%>' != '' && '<%-data.publi.id%>' != null && '<%-data.publi.id%>' != undefined){ // ##### publicidad asociada #####
                document.getElementById('<%-data.publi.id%>').setAttribute('selected', '');                
            }

            //console.log('publi name: '+'<%-data.publi.name%>'); // NOTA: Si ejs falla al traer valor hay que implementar JSON.stringify() o poner la variable entre comillas.

            if ('<%-data.iva.id%>' != '' && '<%-data.iva.id%>' != null && '<%-data.iva.id%>' != undefined){ // ##### IVA #####
                document.getElementById('<%-data.iva.id%>').setAttribute('selected', '');
            } else { // Esto es para cuando sea un plu nuevo.
                document.getElementById('@').setAttribute('selected', '');
            }

            document.getElementById('tara').value = parseFloat('<%-data.tara%>').toFixed(3);
            let maxTara = (parseInt('<%=data.fs%>') * 0.05).toFixed(3);
            //console.log('maxTara: '+maxTara);
            document.getElementById('tara').setAttribute('max', `${maxTara}`);

            document.getElementById('perTare').value = parseFloat('<%-data.waterperc%>').toFixed(3);

            // #################################  fín onLoad campos ##########################################

            function deleteStorage() { // Esto va siempre al ultimo
                localStorage.removeItem('dataPLU');
                localStorage.removeItem('margin');
            }            
        </script>        
    </body>    
</html>