<!DOCTYPE html>
<html>

<%- include('../../templates/head', {datahead: {titulo: 'Descuentos', css: '/css/ABM/PLUs/plu_table_discount.css' }}) %>

    <body>
        <div class="table">
            <div class="container-table">
                <table id='myTable'>
                    <thead>
                        <tr>
                            <th>
                                <input class="header-table" type="text" value="HASTA" readonly>
                            </th>
                            <th>
                                <input class="header-table" type="text" value="PRECIO" readonly>
                            </th>
                            <th class="th-icon">
                                <input class="header-icon" type="text" value="" readonly>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data !=='' && data !==null && data !==undefined) { %>
                            <% for (var i=0; i < data.length; i++ ) { %>
                                <tr>
                                    <form method="POST" action="/api/menu/abm/plu/formEditGral/updateDiscount">
                                        <input style="display: none" type="text" name="discountid" value="<%= data[i].id %>"/>
                                        <td>
                                            <input class="inputPrice" type="number" name="hasta" id="hasta'<%=i%>'" min="0" pattern="^[0-9]+"
                                                value="<%= data[i].hasta %>" title="Presione para editar" 
                                                onclick="this.value=''" onchange="checkHastaEdit(this.id, this.value, this.form)" required/>
                                        </td>
                                        <td>
                                            <input class="inputPrice" type="number" name="precio" min="0" pattern="^[0-9]+"
                                                value="<%- parseInt(data[i].precio).toFixed(2) %>" title="Presione para editar"
                                                onclick="this.value=''" onchange="this.form.submit()" required/>
                                        </td>
                                        <td class="td-icon">
                                            <input type='button' class="btn-td-icon-delete" onclick="formDelete(this.form)">
                                        </td>                                        
                                    </form>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="3">No hay registros!</td>
                            </tr>
                        <% } %>
                        <tr>
                            <form method="POST" id="formInsert" action="/api/menu/abm/plu/formEditGral/createDiscount">
                                <td>
                                    <input class="inputNewPrice" type="number" name="hasta" id="hastaNew" min="0" pattern="^[0-9]+" value="" onblur="checkHasta(this.id, this.value, this.form)" required />
                                </td>
                                <td>
                                    <input class="inputNewPrice" type="number" name="price" id="priceNew" min="0" pattern="^[0-9]+" required />
                                </td>
                                <td class="td-icon">
                                    <input type='button' value='' id="btnSubmit" class="btn-td-icon-create" title="Agregar" onclick="formCreate(this.form);"/>
                                </td>                                
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            //console.log(<%#-JSON.stringify(data)%>);            

            function checkHasta(id, value, form) {
                let repeat = false;                
                <% for (var i=0; i < data.length; i++ ) { %>
                        if(<%=data[i].hasta%> == value){
                            repeat = true;
                            alert('El valor ingresado ya existe!');
                            //document.getElementById(id).value = '';
                            location.reload();
                            document.getElementById(id).focus({focusVisible: true});
                        } 
                <% } %>                                     
            }

            function checkHastaEdit(id, value, form) {
                let repeat = false;                
                <% for (var i=0; i < data.length; i++ ) { %>
                        if(<%=data[i].hasta%> == value){
                            repeat = true;
                            alert('El valor ingresado ya existe!');
                            //document.getElementById(id).value = '';
                            window.location.reload();
                            document.getElementById(id).focus({focusVisible: true});
                        } 
                <% } %>                
                if (repeat == false){
                    let oForm = form;
                    oForm.submit();
                }                                     
            }

            function formDelete(formId) {
                let oForm = formId;
                oForm.setAttribute("action", '/api/menu/abm/plu/formEditGral/deleteDiscount');
                if (oForm) {
                    oForm.submit();
                }
            }

            function formCreate(form){
                let hasta = document.getElementById('hastaNew').value;
                let price = document.getElementById('priceNew').value;
                let hastaEnv = false;
                let priceEnv = false;
                if (hasta > 0 && hasta != '' && hasta != null && hasta != undefined){
                    hastaEnv = true;
                } else {
                    alert('Hay campos vacios!');
                    document.getElementById('hastaNew').focus({focusVisible: true});
                    //document.getElementById('btnSubmit').setAttribute('disabled', true);
                }

                if (price > 0 && price != '' && price != null && price != undefined){
                    priceEnv = true;
                } else {
                    alert('Hay campos vacios!');
                    document.getElementById('priceNew').focus({focusVisible: true});
                    //document.getElementById('btnSubmit').setAttribute('disabled', true);
                }
                let oForm = form;
                if (hastaEnv === true && priceEnv === true){
                    console.log('Enviando formulario...');
                    //document.getElementById('btnSubmit').setAttribute('disabled', false);                    
                    oForm.submit();
                } else {
                    console.log('No se envió formulario!');
                }
            }

        </script>
    </body>

</html>